<h1>Listing testbbs</h1>

<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Message</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
<% @testbbs.each do |testbb| %>
  <tr>
    <td><%= testbb.name %></td>
    <td><%= testbb.message %> <%= link_to '', testbb, class:"icon-search" %></td>
    <td style="width:130px;"><%= link_to 'Edit', edit_testbb_path(testbb), class:"btn btn-primary" %>
    <%= link_to 'Delete', testbb, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary" %></td>
  </tr>
<% end %>
  </tbody>
</table>

<%= link_to 'New Testbb', new_testbb_path, class:"btn btn-primary" %>
<br />
