<p id="notice"><%= notice %></p>

<div class="well">
<p>
  <b>Name:</b>
  <%= @testbb.name %>
</p>

<p>
  <b>Message:</b>
  <%= @testbb.message %>
</p>
</div>

<ul class="breadcrumb">
    <li><%= link_to 'Edit', edit_testbb_path(@testbb) %> <span class="divider">/</span></li>
    <li><%= link_to 'Back', testbbs_path %></li>
</ul>
